{% extends 'base.html' %}

{% block title %}Discussion{% endblock title %}

{% block content %}

  {% comment %} <div class="dropdown dropright">
    <button type="button" class="btn btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> Sort by </button>
    <div class = "dropdown-menu">
      {% if sort_by == "new" %}
      <a class='dropdown-item active'  href="{% url 'discussion_list' movie_pk %}"> New</a>
      <a class='dropdown-item' href="{% url 'discussion_list_top' movie_pk %}"> Top</a>
      {% else %}
      <a class='dropdown-item' href="{% url 'discussion_list' movie_pk %}"> New</a>
      <a class='dropdown-item active'  href="{% url 'discussion_list_top' movie_pk %}"> Top</a>
      {% endif %}
    </div>
  </div> <br> {% endcomment %}
{% if user.is_authenticated%}
  <ul class="pagination">
    <li class="page-item active" ><a href="{% url 'home'  %}" class="page-link">All</a></li>
    <li class="page-item"><a href="{% url 'home_login_discussion' %}" class="page-link">Following</a></li>
  </ul> 
{%else%}
  <p><a href="{% url 'account_login' %}">Login</a> to access more features </p>
{%endif%}
<ul class="pagination">
  <li class="page-item active" ><a href="{% url 'home'  %}" class="page-link">Discussion</a></li>
  <li class="page-item"><a href="{% url 'home_review' %}" class="page-link">Review</a></li>
</ul> 


  {% for discussion in discussion_list %}
        <div class="modal" id="report{{discussion.pk}}">
          <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal Header -->
              <div class="modal-header">
                <div class="col-11">
                  <h4 class="modal-title text-center">Report</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form class ='form', method='POST' action = '{% url "report" %}'> {% csrf_token %}
                  <input type='hidden' name ='discussion_id' value='{{discussion.id}}'/>
                  <input type='hidden' name ='reported_id' value='{{discussion.author.username}}'/>
                  <!--<input name="short_reason" class="form-control mr-sm-2" type="text" placeholder="Short Reason" aria-label="Short Reason"> -->
                  <select class="form-control" name="short_reason">
                    <option value="" disabled selected>Select your option</option>
                    <option value="spam">It's a spam</option>
                    <option value="inappropriate">It's inappropriate</option>
                  </select>
                  <br>
                  <input name="long_reason" class="form-control mr-sm-2" type="text" placeholder="More Detail" aria-label="More Detail">
                  <br>
                  <button class="btn btn-danger" style="float:right" type="submit" value="Submit"> Report   </button>
                </form>
              </div>
            </div>
          </div>
        </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
        
          <div class="col row align-items-center ml-1">
            <div class="align-self-center">
              <span class="font-weight-bold"> <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a></span> &middot;
              <span><a href="{{discussion.movie.get_absolute_url}}">{{discussion.movie.title}}</a></span> &middot;
              <span><a href="{{ discussion.author.get_absolute_url }}">{{ discussion.author }}</a> &middot; {{ discussion.date|timesince }}</span>
            </div>
          </div>
          <div class="col-auto">
                <div class="dropdown dropright">
                  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"></button>
                    
                    <div class="dropdown-menu">
                    {% if user == discussion.author %}
                      <a class="dropdown-item" href="{% url 'discussion_edit' discussion.movie.pk discussion.pk %}">Edit</a> 
                      <a class="dropdown-item" href="{% url 'discussion_delete' discussion.movie.pk discussion.pk %}">Delete</a>
                    {% endif %}
                      <!-- Report start -->
                      <a class="dropdown-item" data-toggle="modal" data-target="#report{{discussion.pk}}">Report</a>
                    
                    </div>
                </div>
                
          </div>
        </div>
      </div>
      <div class="card-body ml-1">
              <p>{{ discussion.body }}</p>
        
       
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}