{% extends 'base.html' %}
{% block title %}{{discussion.title}}{%endblock%}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> 
    <li class="breadcrumb-item"><a href = "{%url 'movie_list' %}"> Movies  </a> </li>>
    <li class="breadcrumb-item"><a href = "{%url 'movie_detail' movie_pk%}"> {{movie_name}}  </a> </li>>
    <li class="breadcrumb-item"><a href="{%url 'discussion_list' movie_pk%}"> Discussions  </a> </li>
    <li class="breadcrumb-item"><a href="{%url 'discussion_detail' movie_pk discussion_pk%}"> {{discussion_name}}  </a> </li>
    <li class="breadcrumb-item active"> Edit </li>
  </ol>
</nav>
    <h1>Edit Discussion</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form | crispy}}
    <button class="btn btn-info ml-2" type="submit">Update</button>
</form>
{% endblock content %}