{% extends 'base.html' %}

{% block content %}
  <a href = "{%url 'movie_list' %}"> Movies  </a> &gt;
  <a href = "{%url 'movie_detail' movie_pk%}"> {{movie_name}}  </a> &gt; 
  <a href="{%url 'discussion_list' movie_pk%}"> Discussions  </a> &gt;
  <a href="{%url 'discussion_detail' movie_pk discussion_pk%}"> {{discussion_name}}  </a> &gt;
  <a href="{{comment.get_absolute_url}}"> Comment </a>
  <a href="#"> Edit </a>
  
    <h1>Edit Comment</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
    <button class="btn btn-info ml-2" type="submit">Update</button>
</form>
{% endblock content %}