{% extends 'base.html' %}


{% block title %}Request Movie{% endblock title %}
  
{% block content %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Request Movie </li>
  </ol>
</nav>
<h2>Request Movie</h2>



<form action="" method="post" onsubmit="document.getElementById('toHide').style.display='none'; document.getElementById('toShow').style.display='block'">
{% csrf_token %}
<div class="form-group"> 
  <label for="title">Title*</label>
  <input class="form-control" type="text" id="title" name="title" required>
</div>
<div class="form-group">
  <label for="year">Year</label>
  <input class="form-control" type="text" id="year" name="year">
</div>
  <button id="toHide" class="btn btn-success" type="submit">
    Submit
  </button>
  <button id="toShow" style="display:none" class="btn btn-success" type="submit" disabled>
    <span class="spinner-border spinner-border-sm"></span>
    Loading
  </button>
  
</form> 


{% endblock content %}