{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> 
    <li class="breadcrumb-item"><a href = "{%url 'movie_list' %}"> Movies  </a> 
    <li class="breadcrumb-item"> <a href = "{%url 'movie_detail' movie_pk%}"> {{movie_name}}  </a> </li>
    <li class="breadcrumb-item"><a href="{%url 'review_list' movie_pk%}"> Reviews  </a> </li>
    <li class="breadcrumb-item"><a href="{%url 'review_detail' movie_pk review_pk%}"> {{review_name}}  </a> </li>
    <li class="breadcrumb-item active"> delete  </li>
  </ol>
</nav>

    <h1>Delete Review</h1>
    <form action="" method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ review.body }}"?</p>
      <button class="btn btn-danger ml-2" type="submit">Confirm</button>
    </form>
{% endblock content %}