{% extends 'base.html' %}

{% block title %}Review{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"> 
    <li class="breadcrumb-item"><a href = "{%url 'movie_list' %}"> Movies  </a> </li>
    <li class="breadcrumb-item"><a href = "{%url 'movie_detail' movie_pk%}"> {{movie_name}}  </a> </li>
    <li class="breadcrumb-item active"> Review </li>
  </ol>
</nav>
  <form class ='form'  action = '{% url "review_new" movie_pk %}'> {% csrf_token %}
                    <button class='btn btn-primary'>
                    New Review for {{movie_name}}
                    </button>&ensp;
  </form>
  <br>
  {% for review in object_list %}
  <!-- Modal Header -->
  <div class="modal" id="report">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-11">
                  <h4 class="modal-title text-center">Report</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form class ='form', method='POST' action = '{% url "report" %}'> {% csrf_token %}
                  <input type='hidden' name ='review_id' value='{{review.id}}'/>
                  <input type='hidden' name ='reported_id' value='{{review.author.id}}'/>
                  <!--<input name="short_reason" class="form-control mr-sm-2" type="text" placeholder="Short Reason" aria-label="Short Reason"> -->
                  <select class="form-control" name="short_reason">
                    <option value="" disabled selected>Select your option</option>
                    <option value="spam">It's a spam</option>
                    <option value="inappropriate">It's inappropriate</option>
                  </select>
                  <br>
                  <input name="long_reason" class="form-control mr-sm-2" type="text" placeholder="More Detail" aria-label="More Detail">
                  <br>
                  <button class="btn btn-danger" style="float:right" type="submit" value="Submit"> Report   </button>
                </form>
              </div>
            </div>
          </div>
        </div>

    <div class="card">
      <div class="card-header">
          <div class="row">
          
            <div class="col row align-items-center ml-1">
              <div class="align-self-center">
                <span class="font-weight-bold"> <a href="{% url 'review_detail' review.movie.pk review.pk%}">{{ review.title }}</a></span> &middot;
                <span>{{ review.author }} &middot; {{ review.date|timesince }}</span>
              </div>
            </div>
            <div class="col-auto">
                  <div class="dropdown dropright">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"></button>
                      
                      <div class="dropdown-menu">
                      {% if user == review.author %}
                        <a class="dropdown-item" href="{% url 'review_edit' review.movie.pk review.pk %}">Edit</a> 
                        <a class="dropdown-item" href="{% url 'review_delete' review.movie.pk review.pk %}">Delete</a>
                      {% endif %}
                        <!-- Report start -->
                        <a class="dropdown-item" data-toggle="modal" data-target="#report">Report</a>
                      
                      </div>
                  </div>
                  
            </div>
          </div>
        </div>
      <div class="card-body">
        <p>{{ review.body }}</p>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}