{% extends "base.html" %}
{% block title %}About us{% endblock title %}
{%block content%}
    <div class="container" style="width:50%">
        <h2 class="text-center"> Why Empire of Movies Exists </h2>
        <p> Empire of Movies' mission is to connect people who wants to discuss and give reviews of films they watched. 
            We also provide complete database about a movie the first time they are requested in a matter of seconds
            and will be updated from time to time. </p>
            <br>
        <h2 class="text-center"> Aim </h2>
        <p >We hope to make the exchange of opinion about films to be accessible and user-friendly to everybody through a well-organized forum.
           Moreover, We hope that the users can easily access the updates by adding our bot on their Telegram app. </p>
        <br>
        <h2 class="text-center"> Gathering around Movie and Discussion</h2>
        <p> Empire of Movies is all about movie and discussion as they are the heart of our website. These includes movies such as Film and TV-Series, as well as discussions about 
            how a film can progress and continue to the next sequels, how the characters develop throughout the movie, 
            how an actor/actress fits their character so much, and about fan theories or unresolved mysteries in the movie.
            Empire of Movies is a place where you can search or request movies you are interested in and 
            discuss about your favourite movies with other people. </p>
    </div>
{% endblock content %}