{% extends "base.html" %}
{% block title %}About us{% endblock title %}
{%block content%}
    <div class="container" style="width:50%">
        <h2 class="text-center"> Why Empire of Movies Exists </h2>
        <p> Empire of Movies' mission is to connect people who wants to discuss and give reviews of films they watched. 
            We also provide complete database about a movie the first time they are requested in a matter of seconds
            and will be updated from time to time. </p>
            <br>
        <h2 class="text-center"> Aim </h2>
        <p >We hope to make the exchange of opinion about films to be accessible and user-friendly to everybody through a well-organized forum.
           Moreover, We hope that the users can easily access the updates by adding our bot on their telegram app. </p>
        <br>
        <h2 class="text-center"> Gathering around Movie and Discussion</h2>
        <p> Empire of Movies is all about Movie and Discussion as they are the heart of our website. Movies such as Film , TV-Series, as well as discussion about 
            How a film can progress and continue to the second series, how the character develop throughout the movie, 
            how an actor/ actress fits their character so much and Discussion about fan theories and unresolved mysteries in the movie.
            Empire of Movies is a place where you can search or request movies you are interested in and 
            Discuss about your favourite movie with other people. </p>
    </div>
{% endblock content %}