<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Empire of Movies{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Empire of Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    {% if user.is_authenticated %}
      <form class="form-inline" action="{% url 'search_results' %}" method="get">
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                      <div class ="dropdown dropright">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Filter by </button>
                        <div class ="dropdown-menu" >
                          <div class="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0" type="checkbox" name="title" value="True" checked> 
                            <span style="float:center bottom:0"> Title </span> 
                          </div>
                          <div class ="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0" type="checkbox" name="year" value="True" checked>
                            <span style="float:center bottom:0" for="year">Year</span>
                          </div>
                          <div class ="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0"type="checkbox" name="synopsis" value="True" checked>
                            <span style="float:center bottom:0"for="synopsis">Synopsis</span>
                          </div>
                          <div class ="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0"type="checkbox" name="stars" value="True" checked>
                            <span style="float:center bottom:0"for="stars"> Star</span>
                          </div>
                          <div class ="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0"type="checkbox" name="genre" value="True" checked>
                            <span style="float:center bottom:0"for="genre">Genre</span>
                          </div>
                          <div class ="dropdown-item" style="display:inline-block">
                            <input style="float:left bottom:0"type="checkbox" name="keywords" value="True" checked>
                            <span style="float:center bottom:0"for="keywords">Keywords</span>
                          </div>
                        </div>
                      </div>
      </form>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'movie_followed' %}">Followed Movies</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'movie_list' %}">All Movies</a></li>
        <li class="nav-item"><a class="nav-link" href="{%url 'movie_request'%}"> Request Movie </a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.have_notification %}
          <li class="nav-item"><a class="nav-link text-danger" href="{% url 'notification_list' %}">Notifications</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'notification_list' %}">Notifications</a></li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'update_profile'%}">Update Profile</a>
            <a class="dropdown-item" href="{% url 'account_change_password'%}">Change Password</a>
            <a class="dropdown-item" href="{% url 'telegram_otp'%}">Connect to Telegram</a>
            <a class="dropdown-item" href="{%url 'account_logout'%}">Log out</a>
          </div>
        </li>
      </ul>
    {% else %}
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
        
        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span>Sign up</a> </li>
      </ul>
    {% endif %}
  </div>  
</nav>
<br>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

</body>
</html>


